.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipePhotoBlock {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.imageUpdates {
  object-fit: contain;
}

li {
  list-style: none;
  padding: 4px;
}

.recipeBlock {
  display: flex;
  flex-direction: column;
  gap: 50px;
}