.App {
  text-align: center;
}

button {
  width: 100px;
  height: 25px;
}

body {
  background-image: url(../public/assets/images/background.jpg);
  background-size: cover;
  background-repeat: repeat;
}